<div id="slidebar">
    <div id="heading">
        <img src="../IMG/slidebar.png" onclick="closeslidebar()">
        <span>Admin Panel</span>
    </div>
    <ul>
        <li id="1" onclick="openurl('../../ShoppingSite/')">
            <img src="../IMG/icons8-create-64.png">
            Create Bill
        </li>
        
        <li id="2" onclick="openurl('../PAGES/view_bill.php')">
            <img src="../IMG/icons8-bill-64.png">
            View Bills
        </li>
        
        <li id="3" onclick="openurl('../PAGES/add_item.php')">
            <img src="../IMG/icons8-new-product-64.png">
            Add Item
        </li>
        
        <li id="4" onclick="openurl('../PAGES/view_item.php')">
            <img src="../IMG/icons8-trolley-64.png">
            View Items
        </li>

        <li id="5" onclick="openurl('../PAGES/manage_cust.php')">
            <img src="../IMG/icons8-total-sales-64.png">
            Customers
        </li>

        <li id="6" onclick="openurl('../PAGES/sales.php')">
            <img src="../IMG/icons8-profile-64.png">
            Sales Analysis
        </li>
    </ul>
</div>