.img-container{
    min-height: 180px;
    /* min-width: 250px; */
}

.itemcard{
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
}
.itemchk{
    padding-top: 32%;
    width: 32%;
    /* font-size: 64px; */
    top: 34%;
    left: 34%;
    background-color: rgba(240, 240, 240, 0.65);
    border-radius: 50%;
    position: absolute;
}
.itemqty{
    /* width: 30%; */
    /* height: auto; */
    /* padding-top: 30%; */
    font-size: 48px;
    font-weight: bold;
    top: 33%;
    left: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    /* border-radius: 50%; */
    position: absolute;
}
.minusbtn{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 48px;
}
.plusbtn{
    position: absolute;
    top: 40%;
    right: 10%;
    font-size: 48px;
}

.multicolortext {
background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
/* color: transparent; */
color: rgba(150, 150, 150, 0.2)
}
.custcard{
    width: 24%;
    margin: 4px;
    position: relative;
    padding-bottom: 60px;
}
.custcardbody{
    position: absolute;
    bottom: 0;
    left: 4px;
}
@media only screen and (max-width: 1200px)
{
    .custcard{
        min-width: 22%;
        max-width: 24%;
    }
    .itemqty{
        font-size: 56px;
    }
    .minusbtn{
        font-size: 48px;
    }
    .plusbtn{
        font-size: 48px;
    }
}
@media only screen and (max-width: 992px)
{
    .custcard{
        min-width: 30%;
        max-width: 32%;
    }
    .itemqty{
        font-size: 48px;
    }
    .minusbtn{
        font-size: 36px;
    }
    .plusbtn{
        font-size: 36px;
    }
    .img-container{
        min-height: 150px;
        /* min-width: 250px; */
    }
}
@media only screen and (max-width: 768px)
{
    .custcard{
        min-width: 30%;
        max-width: 32%;
    }
    .itemqty{
        font-size: 44px;
    }
    .minusbtn{
        left: 6%;
        font-size: 28px;
    }
    .plusbtn{
        right: 6%;
        font-size: 28px;
    }
    .img-container{
        min-height: 120px;
        /* min-width: 250px; */
    }
}
@media only screen and (max-width: 576px)
{
    .custcard{
        min-width: 45%;
        max-width: 48%;
    }
    .itemqty{
        font-size: 36px;
    }
    .minusbtn{
        font-size: 20px;
    }
    .plusbtn{
        font-size: 20px;
    }
}
